name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019]
        architecture: [x64, x86]

    steps:
      - run: choco install wget --no-progress
      - name: Setup libusb
        run: |
          mkdir libusb && cd libusb
          wget https://github.com/libusb/libusb/releases/download/v1.0.25/libusb-1.0.25.7z
          7z x libusb-1.0.25.7z
        shell: bash

      - name: Setup pthreads
        run: |
          mkdir pthreads && cd pthreads
          https://www.mirrorservice.org/sites/sourceware.org/pub/pthreads-win32/pthreads-w32-2-9-1-release.zip
          7z x pthreads-w32-2-9-1-release.zip
          ls $GITHUB_WORKSPACE
        shell: bash
