name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019]
        architecture: [x86, x64]
    env:
      ARCH: ${{ matrix.architecture }}
      ARCH_NUM: "${{ matrix.architecture == 'x64' && '64' || '32' }}"
      CMAKE_ARCH: "${{ matrix.architecture == 'x64' && 'x64' || 'Win32' }}"

    steps:
      - run: choco install wget sed --no-progress

      - name: Setup libusb
        run: |
          mkdir libusb && cd libusb
          wget -nv https://github.com/libusb/libusb/releases/download/v1.0.25/libusb-1.0.25.7z
          7z x libusb-1.0.25.7z
          ls $GITHUB_WORKSPACE/libusb

      - name: Setup pthreads
        run: |
          mkdir pthreads && cd pthreads
          wget -nv https://www.mirrorservice.org/sites/sourceware.org/pub/pthreads-win32/pthreads-w32-2-9-1-release.zip
          7z x pthreads-w32-2-9-1-release.zip
          ls $GITHUB_WORKSPACE/pthreads

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.architecture }}

      - name: Setup FFTW
        run: |
          mkdir fftw && cd fftw
          wget -nv https://fftw.org/pub/fftw/fftw-3.3.5-dll$ARCH_NUM.zip
          7z x fftw-3.3.5-dll$ARCH_NUM.zip
          lib /machine:$ARCH /def:libfftw3-3.def
          lib /machine:$ARCH /def:libfftw3f-3.def
          lib /machine:$ARCH /def:libfftw3l-3.def
          ls $GITHUB_WORKSPACE/fftw

      - name: Setup FX3SDK
        run: |
          mkdir fx3sdk && cd fx3sdk
          wget http://downloads.myriadrf.org/project/limesuite/appveyor/FX3SDK.zip
          7z x FX3SDK.zip
          ls $GITHUB_WORKSPACE/fx3sdk

      - name: AirSpy build
        run: |
          git clone --depth 1 https://github.com/jopohl/airspyone_host
          mkdir airspyone_host/build && cd airspyone_host/build
          cmake -A $CMAKE_ARCH \
                -DLIBUSB_LIBRARIES=$GITHUB_WORKSPACE/libusb/VS2019/MS$ARCH_NUM/Release/lib/libusb-1.0.lib \
                -DLIBUSB_INCLUDE_DIR=$GITHUB_WORKSPACE/libusb/include/libusb-1.0 \
                -DTHREADS_PTHREADS_INCLUDE_DIR=$GITHUB_WORKSPACE/pthreads/Pre-built.2/include \
                -DTHREADS_PTHREADS_WIN32_LIBRARY=$GITHUB_WORKSPACE/pthreads/Pre-built.2/lib/$ARCH/pthreadVC2.lib ..
          cmake --build . --parallel $NUMBER_OF_PROCESSORS --config Release
          cmake --install . --config Release --prefix $GITHUB_WORKSPACE/dist

      - name: BladeRF clone
        run: |
          git clone https://github.com/Nuand/bladeRF
          mkdir bladeRF/host/build && cd bladeRF/host/build 
          sed -i 's/include(FindLibUSB)//g' ../CMakeLists.txt  # remove broken LibUSB find routine and set variables ourselves

      - name: BladeRF patch
        run: |
          import os
          
          os.chdir("bladeRF/host")
          for root, dirs, files in os.walk(os.path.realpath(os.curdir)):
              for file in files:
                  if not file.endswith(".c") and not file.endswith(".h"):
                      continue
          
                  fname = os.path.join(root, file)
                  with open(fname, "r") as f:
                      lines = f.readlines()
          
                  with open(fname, "w") as f:
                      for i, line in enumerate(lines):
                          if line.startswith("#include <pthread.h>") and not lines[i + 1].startswith(
                                  "#define HAVE_STRUCT_TIMESPEC 1"):
                              print("Patching {}".format(fname))
                              f.write("#define HAVE_STRUCT_TIMESPEC 1\n")
                          f.write(line)
        shell: python

      - name: BladeRF build
        run: |
          cd bladeRF/host/build
          cmake -A $CMAKE_ARCH \
                -DLIBUSB_LIBRARIES=$GITHUB_WORKSPACE/libusb/VS2019/MS$ARCH_NUM/Release/lib/libusb-1.0.lib \
                -DLIBUSB_INCLUDE_DIRS=$GITHUB_WORKSPACE/libusb/include/libusb-1.0 \
                -DLIBPTHREADSWIN32_PATH=$GITHUB_WORKSPACE/pthreads/Pre-built.2 \
                -DLIBUSB_SKIP_VERSION_CHECK=Yes \
                -DLIBUSB_PATH=$GITHUB_WORKSPACE/libusb \
                -DLIBUSB_LIBRARY_PATH_SUFFIX=VS2019/MS$ARCH_NUM/Release/dll \
                -DLIBUSB_FOUND=true \
                -DTREAT_WARNINGS_AS_ERRORS=OFF \
                -DENABLE_BACKEND_LIBUSB=ON ..
          cmake --build . --parallel $NUMBER_OF_PROCESSORS --config Release
          cmake --install . --config Release --prefix $GITHUB_WORKSPACE/dist

      - name: HackRF build
        run: |
          git clone --depth 1 https://github.com/greatscottgadgets/hackrf
          mkdir hackrf/host/build && cd hackrf/host/build
          cmake -A $CMAKE_ARCH \
                -DLIBUSB_LIBRARIES=$GITHUB_WORKSPACE/libusb/VS2019/MS$ARCH_NUM/Release/lib/libusb-1.0.lib \
                -DLIBUSB_INCLUDE_DIR=$GITHUB_WORKSPACE/libusb/include/libusb-1.0 \
                -DTHREADS_PTHREADS_INCLUDE_DIR=$GITHUB_WORKSPACE/pthreads/Pre-built.2/include \
                -DTHREADS_PTHREADS_WIN32_LIBRARY=$GITHUB_WORKSPACE/pthreads/Pre-built.2/lib/$ARCH/pthreadVC2.lib \
                -DFFTW_INCLUDES=$GITHUB_WORKSPACE/fftw \
                -DFFTW_LIBRARIES=$GITHUB_WORKSPACE/fftw/libfftw3f-3.lib ..
          cmake --build . --parallel $NUMBER_OF_PROCESSORS --config Release
          cmake --install . --config Release --prefix $GITHUB_WORKSPACE/dist

