name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019]
        architecture: [x86, x64]
    env:
      ARCH: ${{ matrix.architecture }}
      ARCH_NUM: "${{ matrix.architecture == 'x64' && '64' || '32' }}"
      CMAKE_ARCH: "${{ matrix.architecture == 'x64' && 'x64' || 'Win32' }}"

    steps:
      - run: choco install wget sed innoextract --no-progress

      - name: Setup libusb
        run: |
          wget -nv https://github.com/libusb/libusb/releases/download/v1.0.25/libusb-1.0.25.7z
          7z x libusb-1.0.25.7z -olibusb > /dev/null
          ls $GITHUB_WORKSPACE/libusb

      - name: Setup pthreads
        run: |
          wget -nv https://www.mirrorservice.org/sites/sourceware.org/pub/pthreads-win32/pthreads-w32-2-9-1-release.zip
          7z x pthreads-w32-2-9-1-release.zip -opthreads > /dev/null
          ls $GITHUB_WORKSPACE/pthreads

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.architecture }}

      - name: Setup FFTW
        run: |
          wget -nv https://fftw.org/pub/fftw/fftw-3.3.5-dll$ARCH_NUM.zip
          7z x fftw-3.3.5-dll$ARCH_NUM.zip -offtw > /dev/null
          cd fftw
          lib /machine:$ARCH /def:libfftw3-3.def
          lib /machine:$ARCH /def:libfftw3f-3.def
          lib /machine:$ARCH /def:libfftw3l-3.def
          ls $GITHUB_WORKSPACE/fftw

      - name: Setup FX3SDK
        run: |
          wget -nv http://downloads.myriadrf.org/project/limesuite/appveyor/FX3SDK.zip
          7z x FX3SDK.zip -ofx3sdk > /dev/null
          ls $GITHUB_WORKSPACE/fx3sdk

      - name: Lime build
        run: |
          git clone https://github.com/myriadrf/LimeSuite && cd LimeSuite
          mkdir builddir && cd builddir
          cmake -A $CMAKE_ARCH \
                -DCMAKE_BUILD_TYPE=Release \
                -DENABLE_GUI=OFF \
                -DFX3_SDK_PATH=$GITHUB_WORKSPACE/fx3sdk \
                ..
          cmake --build . --parallel $NUMBER_OF_PROCESSORS --config Release
          cmake --install . --prefix $GITHUB_WORKSPACE/dist --config Release

      - name: AirSpy build
        run: |
          git clone --depth 1 https://github.com/airspy/airspyone_host
          mkdir airspyone_host/build && cd airspyone_host/build
          cmake -A $CMAKE_ARCH -DCMAKE_BUILD_TYPE=Release \
                -DLIBUSB_LIBRARIES=$GITHUB_WORKSPACE/libusb/VS2019/MS$ARCH_NUM/Release/lib/libusb-1.0.lib \
                -DLIBUSB_INCLUDE_DIR=$GITHUB_WORKSPACE/libusb/include/libusb-1.0 \
                -DTHREADS_PTHREADS_INCLUDE_DIR=$GITHUB_WORKSPACE/pthreads/Pre-built.2/include \
                -DTHREADS_PTHREADS_WIN32_LIBRARY=$GITHUB_WORKSPACE/pthreads/Pre-built.2/lib/$ARCH/pthreadVC2.lib ..
          cmake --build . --parallel $NUMBER_OF_PROCESSORS --config Release
          cmake --install . --prefix $GITHUB_WORKSPACE/dist --config Release

      - name: BladeRF download
        run: |
          wget -nv https://www.nuand.com/windows_installers/bladeRF-win-installer-2021.03.exe
          innoextract bladeRF-win-installer-2021.03.exe -d bladerf
          mkdir -p dist/include
          cp bladerf/app/include/* dist/include
          cp bladerf/app/$ARCH/* dist
          ls $GITHUB_WORKSPACE/dist

      - name: HackRF build
        run: |
          git clone --depth 1 https://github.com/greatscottgadgets/hackrf
          mkdir hackrf/host/build && cd hackrf/host/build
          cmake -A $CMAKE_ARCH -DCMAKE_BUILD_TYPE=Release\
                -DLIBUSB_LIBRARIES=$GITHUB_WORKSPACE/libusb/VS2019/MS$ARCH_NUM/Release/lib/libusb-1.0.lib \
                -DLIBUSB_INCLUDE_DIR=$GITHUB_WORKSPACE/libusb/include/libusb-1.0 \
                -DTHREADS_PTHREADS_INCLUDE_DIR=$GITHUB_WORKSPACE/pthreads/Pre-built.2/include \
                -DTHREADS_PTHREADS_WIN32_LIBRARY=$GITHUB_WORKSPACE/pthreads/Pre-built.2/lib/$ARCH/pthreadVC2.lib \
                -DFFTW_INCLUDES=$GITHUB_WORKSPACE/fftw \
                -DFFTW_LIBRARIES=$GITHUB_WORKSPACE/fftw/libfftw3f-3.lib ..
          cmake --build . --parallel $NUMBER_OF_PROCESSORS --config Release
          cmake --install . --prefix $GITHUB_WORKSPACE/dist --config Release

      - name: RTL-SDR build
        run: |
          git clone --depth 1 https://github.com/osmocom/rtl-sdr
          mkdir rtl-sdr/build && cd rtl-sdr/build
          cmake -A $CMAKE_ARCH -DCMAKE_BUILD_TYPE=Release\
                -DLIBUSB_LIBRARIES=$GITHUB_WORKSPACE/libusb/VS2019/MS$ARCH_NUM/Release/lib/libusb-1.0.lib \
                -DLIBUSB_INCLUDE_DIRS=$GITHUB_WORKSPACE/libusb/include/libusb-1.0 \
                -DTHREADS_PTHREADS_INCLUDE_DIR=$GITHUB_WORKSPACE/pthreads/Pre-built.2/include \
                -DTHREADS_PTHREADS_LIBRARY=$GITHUB_WORKSPACE/pthreads/Pre-built.2/lib/$ARCH/pthreadVC2.lib ..
          cmake --build . --parallel $NUMBER_OF_PROCESSORS --config Release
          cmake --install . --prefix $GITHUB_WORKSPACE/dist --config Release

      - name: PlutoSDR download
        run: |
          wget https://github.com/analogdevicesinc/libiio/releases/download/v0.23/Windows-VS-16-2019-$CMAKE_ARCH.zip
          7z x Windows-VS-16-2019-$CMAKE_ARCH.zip > /dev/null
          cp Windows-VS-16-2019-$CMAKE_ARCH/* dist/
          ls $GITHUB_WORKSPACE/dist
